@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-un1t-black text-un1t-white;
}

/* Scrollbar styling */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #1A1A1A; }
::-webkit-scrollbar-thumb { background: #4A4A4A; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #6A6A6A; }
